---
layout: page
title: Winners
---
{% if site.data.settings.winner %}
<!-- winner -->
<section class="section bg-cover" data-background="{{ site.baseurl }}/assets/images/backgrounds/team-bg.png">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="section-title">Monthly Classic Winners</h3>
      </div>
      {% for winner-member in site.data.settings.winner %}
      <div class="col-md-4 col-sm-6 mb-4 mb-md-0">
        <div class="card text-center">
          <img src="{{ site.baseurl }}/{{ winner-member.image }}" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">{{ winner-member.title }}</h4>
            <p class="text-light font-secondary">{{ winner-member.designation }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="section bg-cover">
  <div class="container">
    <div class="col-12 text-center">
      <div class="col-12 text-center">
        <h3 class="section-title">Other Winners (at Season End)</h3>
      </div>
      <p class="font-secondary paragraph-lg text-dark">
        <b>H2H League </b>
        <br>
        <b>The Walking Dead</b>
        <br>
        <b>Hall Fantasy Football Championship </b>
        <br>
        <b>Hall Fantasy Football Cup</b>
        <br>
        <b>University Fantasy Football Championship
        </b>
        <br>
      </p>
    </div>
  </div>
</section>

<!-- /winner -->
{% endif %}