<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Email</h5>
          <p class="text-white paragraph-lg font-secondary">{{ site.data.settings.email }}</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Facebook Group</h5>
          <p class="text-white paragraph-lg font-secondary">
            <a href=https://www.facebook.com/groups/buet.fpl target="_blank">BUET FPL Group</a>
          </p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Facebook Page</h5>
          <p class="text-white paragraph-lg font-secondary">
            <a href=https://www.facebook.com/buet.fpl target="_blank">BUET Fantasy Premier League</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->