---
layout: default
---
<!-- page title -->
<section class="page-title-alt bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white font-tertiary">About BUET FPL</h1>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- about -->
<section class="section bg-cover" data-background="{{ site.baseurl }}/assets/images/backgrounds/team-bg.png">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <p class="font-secondary paragraph-lg text-dark">{{ site.data.settings.blurb }}</p>
      </div>
    </div>
</section>
<section class="section">

  <div class="col-lg-12 text-center">
    <h2 class="section-title">How to play FPL</h2>
  </div>
  <div class="row">
    <div class="col-lg-10 mx-auto text-center">
      <h3>Building a squad</h3>
      <p class="font-secondary paragraph-lg text-dark">
        Once you have signed up, FPL managers have a budget of £100.0m to spend on an initial squad of 15 players.
        A squad consists of two goalkeepers, five defenders, five midfielders and three forwards.
        A maximum of three players can be chosen from any one Premier League club.</p>

      <h3>Selecting your team</h3>
      <p class="font-secondary paragraph-lg text-dark">
        Managers must choose a starting XI from their 15-man squad before each Gameweek deadline.
        Any formation can be chosen as long as the line-up includes one goalkeeper, at least three defenders, at least
        two midfielders and at least one forward.
        The deadline is always one hour before the kick-off time of the first match of the Gameweek.</p>
      </p>

      <h3>Scoring points</h3>
      <p class="font-secondary paragraph-lg text-dark">
        Points are awarded to players for goals, assists, saves and clean sheets.
        Players can also earn additional bonus points if they are among the top performers in the Bonus Points System
        (BPS) in a match.
        A team's points for the Gameweek will be scored by their 11 starting players.
        But if a starting player does not feature for their club, the points scored by the first player on your bench
        will automatically be counted instead.
        The same process occurs if two or three starting players fail to appear for their teams.
        Managers should therefore rank their substitutes in order of preference, to ensure that their first-choice
        reserve player is first in line.
        Managers must choose a captain and a vice-captain for the Gameweek in their XI.
        A captain's score is doubled, but if the selected skipper does not play in the Gameweek then the
        vice-captain's score is doubled instead.
      </p>

      <h3>Leagues</h3>
      <p class="font-secondary paragraph-lg text-dark">
        After entering their squad into the game, managers can join and create leagues to compete with friends and
        others across the world.
        Private leagues are where you compete against your friends. Just create a league and then send out the unique
        code to allow your friends to join.
        You can compete in up to 20 private leagues. There is no limit on the number of teams in a single league.
        Managers can also join a public league of 20 randomly-assigned teams.
        You can compete in up to three public leagues.
      </p>

      <h3>Making transfers</h3>
      <p class="font-secondary paragraph-lg text-dark">
        After the first deadline of the season has passed, managers are given one free transfer for each Gameweek.
        This enables them to sign a player in exchange for a member of their 15-man squad, as long as the switch is
        within their budget.
        If managers want to make additional transfers in a Gameweek, they will lose four points for each one.
        If managers do not use their free transfer, they can carry it over and have two free transfers for the
        following Gameweek.
        However, they are unable to build up more than two free transfers.
      </p>

      <h3>Player prices</h3>
      <p class="font-secondary paragraph-lg text-dark">
        Player prices change during the season depending on their popularity among all the managers in the game.
        For example, a player who starts at £7.0m and is transferred into a significant number of teams could
        gradually rise to £7.5m, or even higher.
        Managers who own the player while his price is increasing will make a profit if they sell him at the higher
        price.
        However, they must pay a sell-on fee of 50 per cent, rounded down to the nearest £0.1m.
        So in the example of the player above who has risen from £7.0m to £7.5m, managers would receive £7.2m when
        transferring him out.
      </p>

      <h3>Chips</h3>
      <p class="font-secondary paragraph-lg text-dark">
        There are five chips to play over the season which can boost a team's points total in a Gameweek.
        <br>
        <b>Wildcard</b> - Completely overhaul your team without forfeiting points (twice a season)
        <br>
        <b>Triple captain</b> - Get three times your points total for your captain
        <br>
        <b>Bench boost</b> - Earn points from your non-playing substitutes
        <br>
        <b>Free hit</b> - Reset your team for one week only before it reverts
        <br>
        The Wildcard is the most powerful chip, allowing managers to make any number of transfers in a Gameweek free
        of charge.
        Essentially, this provides the opportunity to make wholesale changes to an entire 15-man squad.
        One Wildcard is available for each half of the season.
        It is worth noting that only one chip can be played in a Gameweek.
      </p>
    </div>
  </div>
  </div>
</section>
<!-- /about -->